<% if users.any? %>
  <table class="table table-info">
    <thead>
      <tr class="">
        <th class="">プロフィール画像</th>
        <th class="">名前</th>
      </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
      <tr clas="">
        <td class=""><img class="ui avatar image" src="#"></td>
        <td class=""><%= link_to user.name, user_path(user) %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>
<%= paginate users %>
